@using Backend4.Models.Controls
@using Backend4.Services
@model Backend4.Models.RegistryModel
@{
    ViewBag.Title = "Sign up";
    var allMonths = ViewBag.AllMonths as Month[];
    var montsMap = allMonths.ToDictionary(x => x.Id);
}

<h2>Sign up</h2>
<p>User with same profile data already exists. Are you sure you want to sign up?</p>

<form asp-action="SignUpAlreadyExists" class="form-horizontal">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="FirstName" type="hidden" />
    <input asp-for="LastName" type="hidden" />
    <input asp-for="Month" type="hidden" />
    <input asp-for="Date" type="hidden" />
    <input asp-for="Year" type="hidden" />
    <input asp-for="Gender" type="hidden" />
    <input asp-for="HasClone" type="hidden" />
    <div class="form-group">
        <label class="col-md-2 control-label">First name</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.FirstName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Last name</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.LastName</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Birthday</label>
        <div class="col-md-10 form-inline">
            <p class="form-control-static">@montsMap[Model.Month].Name @Model.Date, @Model.Year</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Gender</label>
        <div class="col-md-10">
            @if (Model.Gender == Gender.Female)
            {
                <p class="form-control-static">Female</p>
            }
            else
            {
                <p class="form-control-static">Male</p>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-primary">Sign up anyway</button>
        </div>
    </div>
</form>